.stateToursPage{
    overflow: hidden;
}

.stateToursPage h1{
    text-align: center;
}


.stateTours{
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    justify-content: flex-start;
    padding:10px;
    gap: 20px;
}

@media (max-width:600px) {
    .stateTours{
        width: 100%;
    }
}
@media(min-width:600px) and  (max-width:900px)   {
    .stateTours{
        width: 100%;
        padding-left: 10vw;
        border: 1px solid black;
        
    }
}